.grid-container {
    display: grid;
    gap: 5%;
    grid-template-columns: 1fr 1fr;
}

.grid-item {
    display: inline-grid;
    height: 90vh;
}

#button1 {
    background-color: blue;
}

#button2 {
    background-color: green;
}