.grid-container {
    display: grid;
    column-gap: 3%;
    grid-template-columns: 5fr 1fr 5fr;
}

.grid-item {
    display: inline-grid;
    height: 90vh;
}

#button1 {
    background-color: blue;
}

#button2 {
    background-color: green;
}

#timer {
    font-size: x-large;
    text-align: center;
    font-family: sans-serif;
}